html, body {
    margin: 0;
    padding: 0;
    background-image: url('aboutus-background.PNG'); /* Replace with your actual background image file */
    background-size: cover;
    color: white;
    font-family: 'Times New Roman', serif; /* Change the font family to Times New Roman */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0;
    margin-left: 650px;
}

.home-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.about-section {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background for better readability */
    margin-top: 150px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: left;
    margin: 20px 0; /* Adjust the margin as needed */
}
