html, body {
    margin: 0;
    padding: 0;
    background-image: url('aboutus-background.PNG'); /* Replace with your actual background image file path */
    background-size: cover;
    color: #333;
    font-family: 'Arial', sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin: 0;
}

.home-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: rgba(169, 169, 169, 0.7);
}

.contact-section {
    text-align: center;
    padding: 50px;
}

.centered-paragraph {
    max-width: 600px;
    margin: 0 auto;
}

.centered-paragraph p {
    color: #fff; /* Set the text color to white */
}

form {
    display: grid;
    gap: 20px;
}

label {
    font-size: 1.2em;
}

input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}
